.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    list-style: none; /* Para quitar puntos de <ul> */
    padding: 0;
}

.page-item .page-link {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background 0.3s;
    display: inline-block;
}

.page-item.active .page-link {
    background-color: #6c63ff;
    color: #fff;
    border-color: #6c63ff;
}

.page-item:not(.disabled):hover .page-link {
    background-color: #eee;
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: #ccc;
    border-color: #eee;
}
